{
  "app-id": "io.example.example-app",
  "runtime": "org.freedesktop.Platform",
  "runtime-version": "24.08",
  "sdk": "org.freedesktop.Sdk",
  "command": "example-app",
  "finish-args": [
    "--share=network",
    "--socket=wayland",
    "--socket=fallback-x11"
  ],
  "modules": [
    {
      "name": "example-app",
      "buildsystem": "simple",
      "build-commands": [
        "install -Dm755 ./dist/example-app /app/bin/example-app"
      ],
      "sources": [
        {
          "type": "dir",
          "path": ".."
        }
      ]
    }
  ]
}
